    @font-face {
        font-family: 'MedodicaRegular'; /* A name you choose for your font */
        src: url('../../bin/fonts/MedodicaRegular.otf');
        font-weight: normal; /* Define font weight if applicable */
        font-style: normal; /* Define font style if applicable */
        font-display: swap; /* Optimizes font loading behavior */
    }
    @font-face {
        font-family: 'MSPGothic';
        src: url('../../bin/fonts/ms-pgothic-regular.ttf');
        font-weight: normal; /* Define font weight if applicable */
        font-style: normal; /* Define font style if applicable */
        font-display: swap; /* Optimizes font loading behavior */
    }

    .banner {
        background-color: #03b1fc;
        padding: 10px;
        max-height: 200px;
        margin: 0;
        display: block;
        border: black;
    }
    .footer{

            margin-top: 10px;
            margin-bottom: 10px;
            border-top: 1px solid;
            color: white;

    }

    .footer p{
        font-family: MedodicaRegular, sans-serif;
        color: white;
        text-align: center;

    }

    .banner h1{
        font-family: MedodicaRegular, sans-serif;
        color: #029adb;
        font-size: 800%;
        text-align: right;

    }
    
    .container{
        background-color: black;
        border: 1px solid #fff;
    }
    .wrapper{
        border:white;
        border-radius: 10px;
        max-width: 75%; 
        display: block;
        justify-content: center;
        margin: 0 auto;
    }
    .sitemapList{
        margin: 0 auto;
        text-align: center;
        background-color: #0D0D0D;
        border: 1px solid #fff;
        border-left: 0px;
        border-right: 0px;
    }
    .sitemapList li {
        display: inline-block;
        padding-right: 10%;
    }
  body{
    margin: 0;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/066/635/462/original/den-pixelart-watertiles.gif?1693393538);
  }
  body a{
    font-family: MedodicaRegular, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 150%;
  }

body a:hover  {
    text-decoration: underline;
}

.windows {
    width: var(--content-container);
    background-color: #03b1fc;
    background-image: url(https://gildedware.net/pageassets/window%20buttons.png);
    background-repeat: no-repeat;
    background-position: top right;
    margin: 2px;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
}

.centerBodyElement{
    margin: 5px;
    max-width: 40%;
    height: 50%;
    border: 1px solid #fff;
    background-image: url(https://rivendell.neocities.org/backgrounds/stars1.gif);  
}
.leftBodyElement{
    margin: 5px;
    width: 30%;
    border: 1px solid #fff;
}

.rightBodyElement{
    margin: 5px;
    width: 314px;
    border: 1px solid #fff;
}

.bodyContainer{
    display: flex;
    margin: 5px;
}
.textWrapper{
    margin: 25px;
    display: block;
    text-align: justify;
}
.textWrapper p{
    color: white;
    font-family: MSPGothic, sans-serif;
    max-width: 50%;
}

.heading {
    font-size: 3em;
    font-family: MedodicaRegular, sans-serif;
    color: white;
    margin-bottom: 0;
}
#pikachu{
 display: block;
  height: 140px;
  margin: 0;
  
}
.centerBodyElementSub{
    display: flex;
    align-items: flex-start;
    gap: 50px;
}
