@font-face {
  font-family: "MedodicaRegular"; /* A name you choose for your font */
  src: url("../../bin/fonts/MedodicaRegular.otf");
  font-weight: normal; /* Define font weight if applicable */
  font-style: normal; /* Define font style if applicable */
  font-display: swap; /* Optimizes font loading behavior */
}
@font-face {
  font-family: "MSPGothic";
  src: url("../../bin/fonts/ms-pgothic-regular.ttf");
  font-weight: normal; /* Define font weight if applicable */
  font-style: normal; /* Define font style if applicable */
  font-display: swap; /* Optimizes font loading behavior */
}
.banner {
  background-color: #03b1fc;
  padding: 10px;
  max-height: 200px;
  margin: 0;
  display: block;
  border: black;
}
.footer {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid;
  color: white;
}

.footer p {
  font-family: MedodicaRegular, sans-serif;
  color: white;
  text-align: center;
}

.banner h1 {
  font-family: MedodicaRegular, sans-serif;
  color: #029adb;
  font-size: 800%;
  text-align: right;
}

.container {
  background-color: black;
  border: 1px solid #fff;
}
.wrapper {
  border: white;
  border-radius: 10px;
  max-width: 75%;
  display: block;
  justify-content: center;
  margin: 0 auto;
}
.sitemapList {
  margin: 0 auto;
  text-align: center;
  background-color: #0d0d0d;
  border: 1px solid #fff;
  border-left: 0px;
  border-right: 0px;
}
.sitemapList li {
  display: inline-block;
  padding-right: 10%;
}
body {
  margin: 0;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/066/635/462/original/den-pixelart-watertiles.gif?1693393538);
}
body a {
  font-family: MedodicaRegular, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 150%;
}

body a:hover {
  text-decoration: underline;
}

.windows {
  width: var(--content-container);
  background-color: #03b1fc;
  background-image: url("../../imgs/window_buttons.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding: 10px;
  border: 2px solid #029adb;
  border-style:outset;
  font-size: 12px;
}

.centerBodyColumn {
  margin-top: 10px;
  max-width: 50%;
  height: 50%;
}
.leftBodyColumn {
  margin-top: 10px;
  margin-left: 10px;
  width: 20%;
}

.welcome {
  border: 1px solid #fff;
  border-style: outset;
  height: 30vh;
  background-image: url(https://rivendell.neocities.org/backgrounds/stars1.gif);
}

.updates {
  background-color: #bdd6ff;
  margin-bottom: 10px;
  height: 30vh;
  border: 1px solid #fff;
  border-style: outset;
}

.test {
  margin-bottom: 10px;
  height: 30vh;
  border: 1px solid #fff;
  border-style: outset;
}

.rightBodyElement {
  margin-top: 10px;
  margin-right: 10px;
  width: 314px;
  border: 1px solid #fff;
  border-style: outset;
}

.bodyContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.textWrapperJustify {
  display: block;
  text-align: justify;
  overflow: auto;
}
.textWrapperJustify p {
  margin: 25px;
  color: white;
  font-family: MSPGothic, sans-serif;
  max-width: 50%;
}
.textWrapperLeft p {
  color: #002d75;
  font-family: MSPGothic, sans-serif;
}
.textWrapperLeft {
  display: block;
  text-align: left;
  font-size: small;
  max-width: 100%;
  margin: 5px;
}
.updateText {
  margin: 5px;
  text-align: left;
}

#updateTextWrapper{
    border-radius: 5px;
    margin: 5px;
    overflow:auto;
    max-height: 86%;
    min-height: 86%;
    background-image: url(https://rivendell.neocities.org/backgrounds/graph_paper.png);
}
.heading {
  font-size: 3em;
  font-family: MedodicaRegular, sans-serif;
  color: white;
  margin-bottom: 0;
}
#dratini {
  display: block;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.centerBodyElementSub {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
